# Python venv & cache
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Env files (keys)
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# OS crap
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp


# HuggingFace / transformers cache
.cache/
